@font-face {
    font-family: my-font;
    src: url(Calculator.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    height: 500px;
    width: 300px;
    background: linear-gradient(to bottom right, rgba(95, 130, 153, 0.925), rgb(45, 63, 73), rgb(63, 93, 102), rgb(40, 67, 75));
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 4px 30px rgb(0, 0, 0);

}

.title {
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(27, 29, 25, 0.863);
    font-family: my-font;

}

.screen {
    font-family: my-font;
    text-shadow: 1px 1px 2px black;
    height: 120px;
    background: linear-gradient(to top, rgb(122, 121, 121), rgb(228, 250, 213));
    width: 290px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    margin-left: 5px;
    margin-top: 5px;
    font-size: 50px;
    text-align: right;
    pointer-events: none;
    box-shadow: inset 4px 4px 10px rgb(54, 54, 54);
    transition: 1s ease;
    initial-value: hellp;
}

.btn {
    height: 50px;
    width: 60px;
    font-size: 25px;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    box-shadow: 2px 3px black;
    background: linear-gradient(to bottom right, rgb(97, 95, 91), rgb(110, 105, 94), rgb(255, 255, 255));
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin: 15px;
}

.btn-yellow {
    background: linear-gradient(to bottom right, rgb(216, 212, 204), rgb(180, 160, 123), rgb(255, 255, 255));
}

.btn-equal {
    background: linear-gradient(to bottom right, rgb(216, 212, 204), rgb(180, 160, 123), rgb(255, 255, 255));
    height: 50px;
    width: 60px;
    font-size: 25px;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
}

.btn-clear {
    background: linear-gradient(to bottom right, rgb(102, 101, 100), rgb(2, 2, 2), rgb(87, 85, 85));
    height: 50px;
    width: 60px;
    font-size: 25px;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 2px 2px 3px black;
}

.btn-light {
    background: linear-gradient(to bottom right, rgb(226, 161, 161), rgb(209, 47, 26), rgb(177, 143, 143));
    height: 50px;
    width: 60px;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgba(240, 248, 255, 0);
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    box-shadow: 2px 2px 3px black;
}

.shadow:active {
    box-shadow: inset 2px 2px 3px black;

}